{% extends 'base.html' %}
{% load static %}
{% static "" as staticUrl %}
{% block content %}


    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Admin Panel</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Admin Panel</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <a class="btn btn-primary" href="/admin-panel/fact-posts">Back</a>
            <a class="btn btn-primary" href="/admin-panel/fact-posts/{{ fact.id }}/edit">Edit</a>
            <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-12">
                    <div class="row">


                        <!-- Card with an image on top -->

                        <div class="card">
                            <span class="w-25 p-3">
                                <img src="{% static fact.get_image_url %}" class="card-img-top" alt="...">
                            </span>
                            <div class="card-body">
                                <h5 class="card-title">{{ fact.title }}</h5>
                                <p class="card-text">{{ fact.description }}</p>
                            </div>
                        </div><!-- End Card with an image on top -->


                    </div><!-- End sidebar recent posts-->

                </div>
            </div><!-- End News & Updates -->

            </div><!-- End Right side columns -->

            </div>
        </section>

    </main><!-- End #main -->
{% endblock %}
