{% load static %}
{% static "" as staticUrl %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bootslander Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->

    <link rel="icon" href="{% static 'flightfinder/assets/img/favicon.png' %} ">
    <link rel="apple-touch-icon" href="{% static 'flightfinder/assets/img/apple-touch-icon.png' %} ">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="{% static 'flightfinder/assets/vendor/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'flightfinder/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'flightfinder/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'flightfinder/assets/vendor/boxicons/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'flightfinder/assets/vendor/glightbox/css/glightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'flightfinder/assets/vendor/remixicon/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'flightfinder/assets/vendor/swiper/swiper-bundle.min.css' %}">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{% static 'flightfinder/assets/css/style.css' %}">

    <!-- =======================================================
    * Template Name: Bootslander
    * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
    * Updated: Mar 17 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="index.html"><span>LotyOkazje.pl</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Główna</a></li>
                <li><a class="nav-link scrollto" href="#team">Propozycje</a></li>
                <li><a class="nav-link scrollto" href="#about">Informacja</a></li>
                <li><a class="nav-link scrollto" href="#contact">Kontakt</a></li>
{#                <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>#}
{#                    <ul>#}
{#                        <li><a href="#">Drop Down 1</a></li>#}
{#                        <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>#}
{#                            <ul>#}
{#                                <li><a href="#">Deep Drop Down 1</a></li>#}
{#                                <li><a href="#">Deep Drop Down 2</a></li>#}
{#                                <li><a href="#">Deep Drop Down 3</a></li>#}
{#                                <li><a href="#">Deep Drop Down 4</a></li>#}
{#                                <li><a href="#">Deep Drop Down 5</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li><a href="#">Drop Down 2</a></li>#}
{#                        <li><a href="#">Drop Down 3</a></li>#}
{#                        <li><a href="#">Drop Down 4</a></li>#}
{#                    </ul>#}
{#                </li>#}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out">
                    <h1>Znaldź loty w <span>okazyjnej</span> cenie</h1>
                    <h2>Niezapomniany prezent dla bliskiej osoby!</h2>
                    <div class="text-center text-lg-start">
                        <a href="#about" class="btn-get-started scrollto">Rezerwuj</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
                <img src="{% static 'flightfinder/assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
        </g>
    </svg>

</section><!-- End Hero -->

<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Aktualne</h2>
            <p>Nasze Propozycje</p>
        </div>

        <div class="row" data-aos="fade-left">


            {% for post in posts %}
                <div class="col-lg-3 col-md-6 mb-4">


                    <span class="test" data-aos="zoom-in" data-aos-delay="1"><b>{{ post.price }} zł</b></span>
                    <a href="/okazja/{{ post.id }}">
                        <div class="member" data-aos="zoom-in" data-aos-delay="1">
                            <div class="pic">
                                <img src="{{ post.arrival_city.thumbnail_image.url }}" class="img-fluid" alt="">

                            </div>

                            <div class="member-info">
                                <h4>{{ post.arrival_city }} - {{ post.get_duration }} dni </h4>
                                <span class="">{{ post.flight_date }} - {{ post.flight_return_date }}</span>
                                <span>Z <b>{{ post.departure_city.genitive }}</b></span>

                            </div>

                        </div>
                    </a>
                </div>
            {% endfor %}

            </div>
        </div>
</section><!-- End Team Section -->


<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch"
                     data-aos="fade-right">
                </div>

                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
                     data-aos="fade-left">
                    <h3>Nasza wyszukiwarka tanich lotów.</h3>
                    <p>Oferuje korzystne ceny i wygodne połączenia. Znajdziesz tu najlepsze oferty lotów do różnych miejsc na całym świecie. Nasza wyszukiwarka ułatwia znalezienie tanich biletów lotniczych, które spełnią Twoje oczekiwania.</p>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="bi bi-airplane"></i></div>
                        <h4 class="title"><a href="">Wszystkie linie lotnicze</a></h4>
                        <p class="description">Oferujemy połączenia z wieloma różnymi liniami lotniczymi, co pozwala na znalezienie najbardziej dogodnej oferty.</p>
                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon"><i class="bi bi-globe-americas"></i></div>
                        <h4 class="title"><a href=""> Bezpośrednie połączenia</a></h4>
                        <p class="description">Znajdziesz u nas szeroką gamę bezpośrednich połączeń, które umożliwiają szybkie i komfortowe podróże bez zbędnych przesiadek./p>
                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon"><i class="bi bi-geo-alt"></i></div>
                        <h4 class="title"><a href="">Dogodne lotniska wylotów</a></h4>
                        <p class="description">Dysponujemy listą dogodnych lotnisk wylotów, co umożliwia wybór najbliższego i najwygodniejszego portu lotniczego.</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->

{#    <!-- ======= Counts Section ======= -->#}
{#    <section id="counts" class="counts">#}
{#        <div class="container">#}
{##}
{#            <div class="row" data-aos="fade-up">#}
{##}
{#                <div class="col-lg-3 col-md-6">#}
{#                    <div class="count-box">#}
{#                        <i class="bi bi-emoji-smile"></i>#}
{#                        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"#}
{#                              class="purecounter"></span>#}
{#                        <p>Destynacji</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">#}
{#                    <div class="count-box">#}
{#                        <i class="bi bi-journal-richtext"></i>#}
{#                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"#}
{#                              class="purecounter"></span>#}
{#                        <p>Lotnisk wylotu</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">#}
{#                    <div class="count-box">#}
{#                        <i class="bi bi-headset"></i>#}
{#                        <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"#}
{#                              class="purecounter"></span>#}
{#                        <p>Połączeń lotniczych</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">#}
{#                    <div class="count-box">#}
{#                        <i class="bi bi-people"></i>#}
{#                        <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"#}
{#                              class="purecounter"></span>#}
{#                        <p>Hard Workers</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#    </section><!-- End Counts Section -->#}

{##}
{#    <!-- ======= Pricing Section ======= -->#}
{#    <section id="pricing" class="pricing">#}
{#        <div class="container">#}
{##}
{#            <div class="section-title" data-aos="fade-up">#}
{#                <h2>Pakiety</h2>#}
{#                <p>Nasze ceny</p>#}
{#            </div>#}
{##}
{#            <div class="row" data-aos="fade-left">#}
{##}
{#                <div class="col-lg-3 col-md-6">#}
{#                    <div class="box" data-aos="zoom-in" data-aos-delay="100">#}
{#                        <h3>Darmowy</h3>#}
{#                        <h4>0 <sup>zł</sup><span> </span></h4>#}
{#                        <ul>#}
{#                            <li>Lista podstawowa lotów</li>#}
{#                            <li class="na">Nec feugiat nisl</li>#}
{#                            <li class="na">Nulla at volutpat dola</li>#}
{#                            <li class="na">Pharetra massa</li>#}
{#                            <li class="na">Massa ultricies mi</li>#}
{#                            <li class="na">Massa ultricies mi</li>#}
{#                        </ul>#}
{#                        <div class="btn-wrap">#}
{#                            <a href="#" class="btn-buy">Buy Now</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-3 col-md-6 mt-4 mt-md-0">#}
{#                    <div class="box" data-aos="zoom-in" data-aos-delay="200">#}
{#                        <h3>Podstawowy</h3>#}
{#                        <h4>99 <sup>zł</sup><span> </span></h4>#}
{#                        <ul>#}
{#                            <li>Lista najlepszych lotów</li>#}
{#                            <li>Usługa znalezienia lotów</li>#}
{#                            <li>Prezentowy bilet lotniczy</li>#}
{#                            <li>Przewodnik turystyczny</li>#}
{#                            <li class="na">Pharetra massa</li>#}
{#                            <li class="na">Massa ultricies mi</li>#}
{#                        </ul>#}
{#                        <div class="btn-wrap">#}
{#                            <a href="#" class="btn-buy">Buy Now</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">#}
{#                    <div class="box featured" data-aos="zoom-in" data-aos-delay="300">#}
{#                        <h3>Polecany</h3>#}
{#                        <h4>149 <sup>zł</sup><span> </span></h4>#}
{#                        <ul>#}
{#                            <li>Lista najlepszych lotów</li>#}
{#                            <li>Usługa znalezienia lotów</li>#}
{#                            <li>Prezentowy bilet lotniczy</li>#}
{#                            <li>Przewodnik turystyczny</li>#}
{#                            <li>Fizyczny bilet + opakowanie</li>#}
{#                            <li class="na">Massa ultricies mi</li>#}
{#                        </ul>#}
{#                        <div class="btn-wrap">#}
{#                            <a href="#" class="btn-buy">Buy Now</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">#}
{#                    <div class="box" data-aos="zoom-in" data-aos-delay="400">#}
{#                        <span class="advanced">Full Pakiet</span>#}
{#                        <h3>Premium</h3>#}
{#                        <h4>249 <sup>zł</sup><span> </span></h4>#}
{#                        <ul>#}
{#                            <li>Lista najlepszych lotów</li>#}
{#                            <li>Usługa znalezienia lotów</li>#}
{#                            <li>Prezentowy bilet lotniczy</li>#}
{#                            <li>Przewodnik turystyczny</li>#}
{#                            <li>Fizyczny bilet + opakowanie</li>#}
{#                            <li>Usługa znalezienia hotelu</li>#}
{#                        </ul>#}
{#                        <div class="btn-wrap">#}
{#                            <a href="#" class="btn-buy">Buy Now</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#    </section><!-- End Pricing Section -->#}
{##}
{##}
{#    <!-- ======= Details Section ======= -->#}
{#    <section id="details" class="details">#}
{#        <div class="container">#}
{##}
{#            <div class="row content">#}
{#                <div class="col-md-4" data-aos="fade-right">#}
{#                    <img src="{% static 'flightfinder/assets/img/details-1.png' %}" class="img-fluid" alt="">#}
{#                </div>#}
{#                <div class="col-md-8 pt-4" data-aos="fade-up">#}
{#                    <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>#}
{#                    <p class="fst-italic">#}
{#                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut#}
{#                        labore et dolore#}
{#                        magna aliqua.#}
{#                    </p>#}
{#                    <ul>#}
{#                        <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>#}
{#                        <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>#}
{#                        <li><i class="bi bi-check"></i> Iure at voluptas aspernatur dignissimos doloribus repudiandae.#}
{#                        </li>#}
{#                        <li><i class="bi bi-check"></i> Est ipsa assumenda id facilis nesciunt placeat sed doloribus#}
{#                            praesentium.#}
{#                        </li>#}
{#                    </ul>#}
{#                    <p>#}
{#                        Voluptas nisi in quia excepturi nihil voluptas nam et ut. Expedita omnis eum consequatur non.#}
{#                        Sed in asperiores aut repellendus. Error quisquam ab maiores. Quibusdam sit in officia#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="row content">#}
{#                <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">#}
{#                    <img src="{% static 'flightfinder/assets/img/details-2.png' %}" class="img-fluid" alt="">#}
{#                </div>#}
{#                <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">#}
{#                    <h3>Corporis temporibus maiores provident</h3>#}
{#                    <p class="fst-italic">#}
{#                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut#}
{#                        labore et dolore#}
{#                        magna aliqua.#}
{#                    </p>#}
{#                    <p>#}
{#                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit#}
{#                        in voluptate#}
{#                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non#}
{#                        proident, sunt in#}
{#                        culpa qui officia deserunt mollit anim id est laborum#}
{#                    </p>#}
{#                    <p>#}
{#                        Inventore id enim dolor dicta qui et magni molestiae. Mollitia optio officia illum ut cupiditate#}
{#                        eos autem. Soluta dolorum repellendus repellat amet autem rerum illum in. Quibusdam occaecati#}
{#                        est nisi esse. Saepe aut dignissimos distinctio id enim.#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </section><!-- End Details Section -->#}
{##}
{#    <!-- ======= Gallery Section ======= -->#}
{#    <section id="gallery" class="gallery">#}
{#        <div class="container">#}
{##}
{#            <div class="section-title" data-aos="fade-up">#}
{#                <h2>Prezentacja</h2>#}
{#                <p>Galeria Zdjęć</p>#}
{#            </div>#}
{##}
{#            <div class="row g-0" data-aos="fade-left">#}
{##}
{#                <div class="col-lg-3 col-md-4">#}
{#                    <div class="gallery-item" data-aos="zoom-in" data-aos-delay="100">#}
{#                        <a href="assets/img/gallery/gallery-1.jpg" class="gallery-lightbox">#}
{#                            <img src="{% static 'flightfinder/assets/img/gallery/gallery-1.jpg' %}" class="img-fluid"#}
{#                                 alt="">#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-3 col-md-4">#}
{#                    <div class="gallery-item" data-aos="zoom-in" data-aos-delay="150">#}
{#                        <a href="assets/img/gallery/gallery-2.jpg" class="gallery-lightbox">#}
{#                            <img src="{% static 'flightfinder/assets/img/gallery/gallery-2.jpg' %}" class="img-fluid"#}
{#                                 alt="">#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-3 col-md-4">#}
{#                    <div class="gallery-item" data-aos="zoom-in" data-aos-delay="200">#}
{#                        <a href="assets/img/gallery/gallery-3.jpg" class="gallery-lightbox">#}
{#                            <img src="{% static 'flightfinder/assets/img/gallery/gallery-3.jpg' %}" class="img-fluid"#}
{#                                 alt="">#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-3 col-md-4">#}
{#                    <div class="gallery-item" data-aos="zoom-in" data-aos-delay="250">#}
{#                        <a href="assets/img/gallery/gallery-4.jpg" class="gallery-lightbox">#}
{#                            <img src="{% static 'flightfinder/assets/img/gallery/gallery-4.jpg' %}" class="img-fluid"#}
{#                                 alt="">#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-3 col-md-4">#}
{#                    <div class="gallery-item" data-aos="zoom-in" data-aos-delay="300">#}
{#                        <a href="assets/img/gallery/gallery-5.jpg" class="gallery-lightbox">#}
{#                            <img src="{% static 'flightfinder/assets/img/gallery/gallery-5.jpg' %}" class="img-fluid"#}
{#                                 alt="">#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-3 col-md-4">#}
{#                    <div class="gallery-item" data-aos="zoom-in" data-aos-delay="350">#}
{#                        <a href="assets/img/gallery/gallery-6.jpg" class="gallery-lightbox">#}
{#                            <img src="{% static 'flightfinder/assets/img/gallery/gallery-6.jpg' %}" class="img-fluid"#}
{#                                 alt="">#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-3 col-md-4">#}
{#                    <div class="gallery-item" data-aos="zoom-in" data-aos-delay="400">#}
{#                        <a href="assets/img/gallery/gallery-7.jpg" class="gallery-lightbox">#}
{#                            <img src="{% static 'flightfinder/assets/img/gallery/gallery-7.jpg' %}" class="img-fluid"#}
{#                                 alt="">#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-3 col-md-4">#}
{#                    <div class="gallery-item" data-aos="zoom-in" data-aos-delay="450">#}
{#                        <a href="assets/img/gallery/gallery-8.jpg" class="gallery-lightbox">#}
{#                            <img src="{% static 'flightfinder/assets/img/gallery/gallery-8.jpg' %}" class="img-fluid"#}
{#                                 alt="">#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#    </section><!-- End Gallery Section -->#}
{##}
{#    <!-- ======= Testimonials Section ======= -->#}
{#    <section id="testimonials" class="testimonials">#}
{#        <div class="container">#}
{##}
{#            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">#}
{#                <div class="swiper-wrapper">#}
{##}
{#                    <div class="swiper-slide">#}
{#                        <div class="testimonial-item">#}
{#                            <img src="{% static 'flightfinder/assets/img/testimonials/testimonials-1.jpg' %}"#}
{#                                 class="testimonial-img" alt="">#}
{#                            <h3>Saul Goodman</h3>#}
{#                            <h4>Ceo &amp; Founder</h4>#}
{#                            <p>#}
{#                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
{#                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit#}
{#                                rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam,#}
{#                                risus at semper.#}
{#                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
{#                            </p>#}
{#                        </div>#}
{#                    </div><!-- End testimonial item -->#}
{##}
{#                    <div class="swiper-slide">#}
{#                        <div class="testimonial-item">#}
{#                            <img src="{% static 'flightfinder/assets/img/testimonials/testimonials-1.jpg' %}"#}
{#                                 class="testimonial-img" alt="">#}
{#                            <h3>Sara Wilsson</h3>#}
{#                            <h4>Designer</h4>#}
{#                            <p>#}
{#                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
{#                                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid#}
{#                                cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet#}
{#                                legam anim culpa.#}
{#                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
{#                            </p>#}
{#                        </div>#}
{#                    </div><!-- End testimonial item -->#}
{##}
{#                    <div class="swiper-slide">#}
{#                        <div class="testimonial-item">#}
{#                            <img src="{% static 'flightfinder/assets/img/testimonials/testimonials-1.jpg' %}"#}
{#                                 class="testimonial-img" alt="">#}
{#                            <h3>Jena Karlis</h3>#}
{#                            <h4>Store Owner</h4>#}
{#                            <p>#}
{#                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
{#                                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam#}
{#                                duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.#}
{#                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
{#                            </p>#}
{#                        </div>#}
{#                    </div><!-- End testimonial item -->#}
{##}
{#                    <div class="swiper-slide">#}
{#                        <div class="testimonial-item">#}
{#                            <img src="{% static 'flightfinder/assets/img/testimonials/testimonials-1.jpg' %}"#}
{#                                 class="testimonial-img" alt="">#}
{#                            <h3>Matt Brandon</h3>#}
{#                            <h4>Freelancer</h4>#}
{#                            <p>#}
{#                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
{#                                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat#}
{#                                minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore#}
{#                                labore illum veniam.#}
{#                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
{#                            </p>#}
{#                        </div>#}
{#                    </div><!-- End testimonial item -->#}
{##}
{#                    <div class="swiper-slide">#}
{#                        <div class="testimonial-item">#}
{#                            <img src="{% static 'flightfinder/assets/img/testimonials/testimonials-1.jpg' %}"#}
{#                                 class="testimonial-img" alt="">#}
{#                            <h3>John Larson</h3>#}
{#                            <h4>Entrepreneur</h4>#}
{#                            <p>#}
{#                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
{#                                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster#}
{#                                veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam#}
{#                                culpa fore nisi cillum quid.#}
{#                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
{#                            </p>#}
{#                        </div>#}
{#                    </div><!-- End testimonial item -->#}
{##}
{#                </div>#}
{#                <div class="swiper-pagination"></div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </section><!-- End Testimonials Section -->#}
{##}
{##}
{#    <!-- ======= F.A.Q Section ======= -->#}
{#    <section id="faq" class="faq section-bg">#}
{#        <div class="container">#}
{##}
{#            <div class="section-title" data-aos="fade-up">#}
{#                <h2>F.A.Q</h2>#}
{#                <p>Częste Pytania</p>#}
{#            </div>#}
{##}
{#            <div class="faq-list">#}
{#                <ul>#}
{#                    <li data-aos="fade-up">#}
{#                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"#}
{#                                                                       data-bs-target="#faq-list-1">Non consectetur a#}
{#                        erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i#}
{#                                class="bx bx-chevron-up icon-close"></i></a>#}
{#                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">#}
{#                            <p>#}
{#                                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non#}
{#                                curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus#}
{#                                non.#}
{#                            </p>#}
{#                        </div>#}
{#                    </li>#}
{##}
{#                    <li data-aos="fade-up" data-aos-delay="100">#}
{#                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"#}
{#                                                                       data-bs-target="#faq-list-2" class="collapsed">Feugiat#}
{#                        scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i#}
{#                                class="bx bx-chevron-up icon-close"></i></a>#}
{#                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">#}
{#                            <p>#}
{#                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum#}
{#                                velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec#}
{#                                pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus#}
{#                                turpis massa tincidunt dui.#}
{#                            </p>#}
{#                        </div>#}
{#                    </li>#}
{##}
{#                    <li data-aos="fade-up" data-aos-delay="200">#}
{#                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"#}
{#                                                                       data-bs-target="#faq-list-3" class="collapsed">Dolor#}
{#                        sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i#}
{#                                class="bx bx-chevron-up icon-close"></i></a>#}
{#                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">#}
{#                            <p>#}
{#                                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus#}
{#                                pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum#}
{#                                tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna#}
{#                                molestie at elementum eu facilisis sed odio morbi quis#}
{#                            </p>#}
{#                        </div>#}
{#                    </li>#}
{##}
{#                    <li data-aos="fade-up" data-aos-delay="300">#}
{#                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"#}
{#                                                                       data-bs-target="#faq-list-4" class="collapsed">Tempus#}
{#                        quam pellentesque nec nam aliquam sem et tortor consequat? <i#}
{#                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>#}
{#                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">#}
{#                            <p>#}
{#                                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est#}
{#                                ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit#}
{#                                adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.#}
{#                            </p>#}
{#                        </div>#}
{#                    </li>#}
{##}
{#                    <li data-aos="fade-up" data-aos-delay="400">#}
{#                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"#}
{#                                                                       data-bs-target="#faq-list-5" class="collapsed">Tortor#}
{#                        vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i#}
{#                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>#}
{#                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">#}
{#                            <p>#}
{#                                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo#}
{#                                integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc#}
{#                                eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.#}
{#                            </p>#}
{#                        </div>#}
{#                    </li>#}
{##}
{#                </ul>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </section><!-- End F.A.Q Section -->#}

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Kontakt</h2>
                <p>Napisz do nas</p>
            </div>

            <div class="row">

                <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-instagram"></i>
                            <p>Instagram:</p>
                            <h4><a href="http://instagram.com/tanie_loty_">tanie_loty_</a></h4>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <p>Email:</p>
                            <h4>info@lotyokazje.pl</h4>
                        </div>

                        <div class="phone">
                            <i class="bi bi-laptop"></i>
                            <p>Strona:</p>
                            <h4>LotyOkazje.pl</h4>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">

                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Imię"
                                       required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="Twój email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Temat"
                                   required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Treść wiadomości"
                                      required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Wyślij wiadomość</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>LotyOkazje.pl</h3>
                        <p class="pb-3"><em>Codzienna dawka propozycji lotów w okazyjnych cenach i dobrych terminach.</em></p>
                            <strong>instagram:</strong> tanie_loty_<br>
                            <strong>Email:</strong> info@lotyokazje.pl<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="instagram.com/tanie_loty_" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="www.lotyokazje.pl" class="instagram"><i class="bi bi-laptop"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Przydatne linki</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Główna</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Kontakt</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Nasz serwis</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Propozycja</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Informacja</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Nasz Newsletter</h4>
                    <p>Regularnie wysyłamy najlepsze okazje lotów, bądź poinformowany jako pierwszy.</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Obserwuj">
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>LotyOkazje.pl</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/ -->

        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{% static 'flightfinder/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'flightfinder/assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'flightfinder/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'flightfinder/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'flightfinder/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'flightfinder/assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'flightfinder/assets/js/main.js' %}"></script>

</body>

</html>