{% extends 'base-file.html' %}
{% load static %}
{% static "" as staticUrl %}
{% block content %}

<!-- ======= Team Section ======= -->
<section id="search" class="team mt-5">
    <div class="container">
        <div class="section-title">
            <h2>Nasza</h2>
            <p>Wyszukiwarka</p>
        </div>

        <div class="bg-color-1 pt-2 pb-2">
            <div class="wrapper">
                <div class="card card-7 p-2 pt-4">
                    <div class="card-body">
                        <form class="form" method="POST" action="/search">
                            {% csrf_token %}
                            <div class="input-group input--large test-pink">
                                <label class="label">Skąd?</label>

                                <select class="select-own" name="departure_city" aria-label="Default select example">
                                    <option value="all" class="select-first-option" selected>Wszystkie</option>
                                    {% for departure_city_value in flight_connections_dict %}
                                       <option {% if departure_city_value == departure_city %}selected{% endif %} value="{{ departure_city_value }}">{{ departure_city_value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group input--large test-pink">
                                <label class="label">Dokąd?</label>

                                <select class="select-own" name="arrival_city" aria-label="Default select example">
                                    <option value="all" class="select-first-option" selected>Wszystkie</option>
                                    {% for arrival_city_value in arrival_cities %}
                                    <option {% if arrival_city_value.name == arrival_city %}selected{% endif %} value="{{ arrival_city_value }}">{{ arrival_city_value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group input--medium test-pink">
                                <label class="label">Wylot od</label>
                                <input class="input--style-1" type="text" name="from_date" placeholder="dd/mm/yyyy"
                                       id="input-start-class" {% if from_date %} value="{{ from_date }}"  {% endif %}>
                            </div>
                            <div class="input-group input--medium test-pink">
                                <label class="label">Powrót do</label>
                                <input class="input--style-1" type="text" name="to_date" placeholder="dd/mm/yyyy"
                                       id="input-end-class" {% if to_date %} value="{{ to_date }}"  {% endif %}>
                            </div>
                            <div class="input-group input--medium test-pink">
                                <label class="label">Ilość dni (max)</label>
                                <input class="input--style-1" type="text" placeholder="7"
                                       name="max_days" {% if max_days %} value="{{ max_days }}" {% endif %}>
                            </div>

                            <button class="btn-submit test-pink" type="submit">Szukaj</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" data-aos="fade-left">


            {% for ticket_plan in page_obj %}


                <div class="col-lg-3 col-md-6 mb-4 ">


                    <span class="test" data-aos="zoom-in" data-aos-delay="1"><b>{{ ticket_plan.total_price }} zł</b></span>
                    <a href="/okazja/{{ ticket_plan.ticket.flight.departure_city.name }}/{{ ticket_plan.ticket.flight.arrival_city.name }}/{{ ticket_plan.ticket.flight.get_flight_date_str }}/{{ ticket_plan.return_ticket.flight.get_flight_date_str }}">
                        <div class="member" data-aos="zoom-in" data-aos-delay="1">
                            <div class="pic">
                                <img src="{{ ticket_plan.ticket.flight.arrival_city.thumbnail_image.url }}" class="img-fluid" alt="">

                            </div>

                            <div class="member-info">
                                <h4>{{ ticket_plan.ticket.flight.arrival_city.name }} - {{ ticket_plan.duration }} dni </h4>
                                <span class="">{{ ticket_plan.ticket.flight.get_flight_date_str }} - {{ ticket_plan.return_ticket.flight.get_flight_date_str }}</span>
                                <span>Z <b>{{ ticket_plan.ticket.flight.departure_city.genitive }}</b></span>

                            </div>

                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>


    <div class="d-flex justify-content-center">
        <nav aria-label="...">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item ">
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link p-3"><h4>< Poprzednia</h4></a>
                    </li>
                    <li class="page-item"><a class="page-link p-3" href="?page=1"><h4>1</h4></a></li>
                {% endif %}

                <li class="page-item active" aria-current="page">
                    <span class="page-link p-3"><h4>{{ page_obj.number }}</h4></span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link p-3"
                                             href="?page={{ page_obj.paginator.num_pages }}"><h4>{{ page_obj.paginator.num_pages }}</h4></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link p-3" href="?page={{ page_obj.next_page_number }}"><h4>Następna ></h4></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>


</section><!-- End Team Section -->



    <script>

    const flightConnectionsDictString = '{{ flight_connections_json|escapejs }}';

        // Konwertujemy string JSON na obiekt JSON
        const flightConnectionsDict = JSON.parse(flightConnectionsDictString);

        // Wyświetlamy dane w konsoli
        console.log("Dane z Django:", flightConnectionsDict);

    const selectElementDepartureCity = document.querySelector('select[name="departure_city"]');
    const selectElementArrivalCity = document.querySelector('select[name="arrival_city"]');

    // Dodajemy nasłuchiwanie na zmianę wyboru (event 'change')
    selectElementDepartureCity.addEventListener('change', function () {
        // Uzyskujemy wybraną wartość
        const selectedValueDepartureCity = selectElementDepartureCity.value;
        selectElementArrivalCity.innerHTML = '';
        const option = document.createElement('option');
        option.value = 'all';
        option.textContent = 'Wszystkie';
        option.className = 'select-first-option'
        selectElementArrivalCity.appendChild(option);

        flightConnectionsDict[selectedValueDepartureCity].forEach(city => {

                    const option = document.createElement('option');
                    option.value = city;
                    option.textContent = city;
                    selectElementArrivalCity.appendChild(option);
                });

        // Wyświetlamy lub przetwarzamy wybraną wartość
        console.log("Wybrana wartość: " + flightConnectionsDict[selectedValueDepartureCity]);
    });
</script>

{% endblock %}