{% extends 'base-file.html' %}
{% load static %}
{% static "" as staticUrl %}
{% block content %}



    <main id="main">


        <section class="team mt-2">

            <div class="container">


                <section class="section dashboard">
                    <div class="row">

                        <!-- Left side columns -->
                        <div class="col-lg-8">
                            <div class="row">


                                <!-- Revenue Card -->
                                <div class="col-xxl-4 col-md-6">
                                    <div class="card info-card revenue-card">


                                        <div class="card-body">
                                            <h5 class="card-title">Cena biletów <span></span></h5>

                                            <div class="d-flex align-items-center">
                                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                    <i class="bi bi-cash-coin"></i>
                                                </div>
                                                <div class="ps-3">
                                                    <h6>{{ ticket_plan.total_price }} PLN</h6>
                                                    <span class=" small pt-1 fw-bold">W obie strony.</span>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div><!-- End Revenue Card -->

                                <!-- Revenue Card -->
                                <div class="col-xxl-4 col-md-6">
                                    <div class="card info-card sales-card">


                                        <div class="card-body">
                                            <h5 class="card-title">Długość pobytu<span></span></h5>

                                            <div class="d-flex align-items-center">
                                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                    <i class="bi bi-brightness-alt-high-fill"></i>
                                                </div>
                                                <div class="ps-3">
                                                    <h6>{{ ticket_plan.duration }} dni</h6>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div><!-- End Revenue Card -->

                                <!-- Customers Card -->
                                <div class="col-xxl-4 col-xl-12">

                                    <div class="card info-card customers-card">


                                        <div class="card-body">
                                            <h5 class="card-title">Data wylotu<span> </span></h5>

                                            <div class="d-flex align-items-center">
                                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                    <i class="bi bi-calendar-date"></i>
                                                </div>
                                                <div class="ps-3">
                                                    <span><b>{{ ticket_plan.ticket.flight.get_flight_date_str }} -</b></span>
                                                    <br>
                                                    <span><b>{{ ticket_plan.return_ticket.flight.get_flight_date_str }}</b></span>
                                                    <span class="text-danger small pt-1 fw-bold"></span> <span
                                                        class="text-muted small pt-2 ps-1"></span>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div><!-- End Customers Card -->


                                <!-- Ticket One -->
                                <div class="col-xxl-12 col-md-12">
                                    <div class="card info-card sales-card">


                                        <div class="card-body">
                                            <h5 class="card-title">Bilet pierwszy - {{ ticket_plan.ticket.price }} PLN <span></span></h5>

                                            <div class="d-flex align-items-center">
                                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                    <i class="bi bi bi-ticket-detailed"></i>
                                                </div>
                                                <div class="ps-3">
                                                    <h6>{{ ticket_plan.ticket.flight.departure_city.name }}
                                                        - {{ ticket_plan.ticket.flight.arrival_city.name }}</h6>
                                                    <span class="  pt-1 fw-bold">Data wylotu: {{ ticket_plan.ticket.flight.get_flight_date_str }}
                                                    {% if ticket_plan.ticket.get_specific_tickets|length == 1 %}| {{ ticket_plan.ticket.get_specific_tickets.0.get_departure_time }} - {{ ticket_plan.ticket.get_specific_tickets.0.get_arrival_time }}
                                                        </br>
                                                        {{ ticket_plan.ticket.get_specific_tickets.0.airline }}

                                                    {% endif %}</span>
                                                    <br>
                                                    {% if ticket_plan.ticket.get_specific_tickets %}
                                                        <a class="btn btn-primary mt-3"
                                                           href="{{ ticket_plan.ticket.get_specific_tickets.0.purchase_link }}">Kup
                                                            Bilet ({{ ticket_plan.ticket.price }} PLN) </a>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div><!-- End Revenue Card -->


                                <!-- Ticket One -->
                                <div class="col-xxl-12 col-md-12">
                                    <div class="card info-card sales-card">


                                        <div class="card-body">
                                            <h5 class="card-title">Bilet powrotny - {{ ticket_plan.return_ticket.price }} PLN  <span></span></h5>

                                            <div class="d-flex align-items-center">
                                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                    <i class="bi bi-ticket-detailed"></i>
                                                </div>
                                                <div class="ps-3">
                                                    <h6>{{ ticket_plan.return_ticket.flight.departure_city.name }}
                                                        - {{ ticket_plan.return_ticket.flight.arrival_city.name }}</h6>
                                                    <span class="  pt-1 fw-bold">Data wylotu: {{ ticket_plan.return_ticket.flight.get_flight_date_str }}
                                                    {% if ticket_plan.return_ticket.get_specific_tickets|length == 1 %}| {{ ticket_plan.return_ticket.get_specific_tickets.0.get_departure_time }} - {{ ticket_plan.return_ticket.get_specific_tickets.0.get_arrival_time }}
                                                        </br>
                                                        {{ ticket_plan.return_ticket.get_specific_tickets.0.airline }}

                                                    {% endif %}</span>
                                                    <br>
                                                    {% if ticket_plan.return_ticket.get_specific_tickets %}
                                                        <a class="btn btn-primary mt-3"
                                                           href="{{ ticket_plan.return_ticket.get_specific_tickets.0.purchase_link }}">Kup
                                                            Bilet ({{ ticket_plan.return_ticket.price }} PLN) </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div><!-- End Revenue Card -->


                            </div>
                        </div><!-- End Left side columns -->

                        <!-- Right side columns -->
                        <div class="col-lg-4">


                            <!-- Recent Activity -->
                            <div class="card">
                                <div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li class="dropdown-header text-start">
                                            <h6>Filter</h6>
                                        </li>

                                        <li><a class="dropdown-item" href="#">Today</a></li>
                                        <li><a class="dropdown-item" href="#">This Month</a></li>
                                        <li><a class="dropdown-item" href="#">This Year</a></li>
                                    </ul>
                                </div>

                                <!-- Card with an image on top -->
                                <div class="card">
                                    <img src="{{ ticket_plan.ticket.flight.arrival_city.thumbnail_image.url }}"
                                         class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ ticket_plan.ticket.flight.arrival_city }}
                                            - {{ ticket_plan.duration }} dni.</h5>
                                        <p class="card-text">Oferta przedstawia lot
                                            do {{ ticket_plan.ticket.flight.arrival_city.genitive }}
                                            z {{ ticket_plan.ticket.flight.departure_city.genitive }} oraz bilet
                                            powrotny za
                                            kwotę {{ ticket_plan.total_price }} pln. Długość pobytu
                                            to {{ ticket_plan.duration }} dni, wylot
                                            z {{ ticket_plan.ticket.flight.departure_city.genitive }} zaplanowany jest
                                            na
                                            dzień {{ ticket_plan.ticket.flight.flight_date }} i powrót
                                            z {{ ticket_plan.ticket.flight.arrival_city.genitive }} w
                                            dniu {{ ticket_plan.return_ticket.flight.flight_date }}. </p>
                                    </div>
                                </div><!-- End Card with an image on top -->


                            </div><!-- End Right side columns -->

                        </div>
                    </div>
                </section>

                <!-- ======= Breadcrumbs Section ======= -->
            </div>
        </section>

    </main><!-- End #main -->

{% endblock %}
