{% extends 'base-file.html' %}
{% load static %}
{% static "" as staticUrl %}
{% block content %}



    <main id="main">


        <section class="team mt-2">

            <div class="container">


                <section class="section dashboard">
                    <div class="row">

                        <form class="form" method="POST" action="/settings">
                            {% csrf_token %}

                            <button type="submit" name="action" value="post" class="btn btn-primary mb-4">Post</button>
                            <button type="submit" name="action" value="story" class="btn btn-primary mb-4">Story
                            </button>
                            <button type="submit" name="action" value="import" class="btn btn-primary mb-4">Import
                                Flights
                            </button>
                            <button type="submit" name="action" value="delete-data" class="btn btn-primary mb-4">Delete
                                full data
                            </button>

                        </form>

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Relacja</th>
                                <th scope="col">Time ago</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for search in flight_searches %}
                            <tr>
                                <th scope="row">{{ search.id }}</th>
                                <td>{{ search.departure_city }} - {{ search.arrival_city }}</td>
                                <td>{{ search.get_time_ago }}</td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>


                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">IP</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Created</th>
                                <th scope="col">Location</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ip in ips %}
                            <tr>
                                <th scope="row">{{ ip.id }}</th>
                                <td>{{ ip.ip }} - {{ search.arrival_city }}</td>
                                <td>{{ ip.amount }}</td>
                                <td>{{ ip.created_at }} - {{ search.arrival_city }}</td>
                                <td>{{ ip.get_location }}</td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>


                    </div>
                </section>

                <!-- ======= Breadcrumbs Section ======= -->
            </div>
        </section>

    </main><!-- End #main -->

{% endblock %}
